
.btn-primary, .btn.btn-primary {
  background-color: var(--midnight-blue);
  border-color: var(--midnight-blue);
  color: var(--white);
  font-weight: 700;
  font-family: var(--font-gilroy);
  transition: background 0.18s, border 0.18s;
}

.btn-primary:hover, .btn.btn-primary:hover {
  background-color: var(--copper);
  border-color: var(--copper);
  color: var(--white);
}

.btn-accent, .btn.btn-accent {
  background-color: var(--copper);
  color: var(--white);
  border: none;
}

.btn-accent:hover, .btn.btn-accent:hover {
  background-color: #985c28;
  color: var(--white);
}

.btn-light, .btn.btn-light {
  background: var(--white);
  border: 2px solid var(--midnight-blue);
  color: var(--midnight-blue);
  font-weight: 600;
}

.btn-light:hover, .btn.btn-light:hover {
  background: var(--industrial-silver);
  border-color: var(--copper);
  color: var(--midnight-blue);
}
